{% extends "base.html" %}

{% block content %}
{% for cause in causes %}
    <div class="mt-3 col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 card mb-3">
  <div class="card-body">
    <h2 class="blog-post-title">
        <a href="{{ cause.get_absolute_url }}">{{ cause.title }}</a>
    </h2>
    <p class="blog-post-meta">{{ cause.created }} by <strong>{{ cause.author }}</strong></p>
  <p class="tags">
      Tags:
      {% for tag in cause.tags.all %}
        <a class="badge badge-primary" href="{% url 'tag_view' tag.slug %}">{{ tag }}</a>
      {% endfor %}
</p>
    <p class="card-text">{{cause.body | truncatewords:20}}</p>

      <span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ cause.sign_count }}%;"
                 aria-valuenow="{{ cause.sign_count }}" aria-valuemin="0"
                 aria-valuemax="100">{{ cause.sign_count }}% signed </div>
        </div>
      </span>

  </div>
    </div>
{% endfor %}


{% endblock %}