{% extends "base.html" %}

{% block content %}

    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
        <form action="" method="get">
            <div class="input-group mt-5 mb-5  py-1 px-2 px-md-0">
                <input class="form-control form-control-dark" name='query' type="text"
                       placeholder="Search for cause..."
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><i
                            class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        {% if query %}
            {% if causes %}

            <h1 class="display-5">Search Results for "{{ query }}"</h1>
            {% for cause in causes %}
                <div class="card  mb-4">
                <div class="card-body">
                    <h2 class="blog-post-title">
                        <a href="{{ cause.get_absolute_url }}">{{ cause.title }}</a>
                    </h2>
                    <p class="blog-post-meta">{{ cause.created }} by
                        <strong>{{ cause.author }}</strong></p>
                    <p class="tags">
                        Tags:
                        {% for tag in cause.tags.all %}
                            <a class="badge badge-primary"
                               href="{% url 'tag_view' tag.slug %}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                    <p class="card-text">{{ cause.body | truncatewords:30 | safe }}</p>
                </div></div>
            {% endfor %}
        {% else %}
                <h1 class="display-6">No Result found for "{{ query }}"</h1>
        {% endif %}
                {% endif %}
        </div>
{% endblock %}