{% extends "base.html" %}

{% block content %}

    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
<h1 class="display-5">Causes created by "{{ user }}"</h1>
{% if causes %}

        {% for cause in page_obj %}
            <div class="card  mb-4">
                <div class="card-body">
                    <h2 class="blog-post-title">
                        <a href="{{ cause.get_absolute_url }}">{{ cause.title }}</a>
                    </h2>
                    <p class="blog-post-meta">{{ cause.created }} by
                        <strong>{{ cause.author }}</strong></p>
                    <p class="tags">
                        Tags:
                        {% for tag in cause.tags.all %}
                            <a class="badge badge-primary"
                               href="{% url 'tag_view' tag.slug %}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                    <p class="card-text">{{ cause.body | truncatewords:30 | safe }}</p>

                </div>
            </div>
        {% endfor %}
        {% else %}
        No cause by user {{ user }}
    {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
      <ul class="pagination justify-content-center">
      <li class="page-item disabled">
              <a class="page-link">Page {{ page_obj.number }} of
              {{ page_obj.paginator.num_pages }}</a>
            </li>
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link {% if page_obj == 1 %} disabled {% endif %}" href="?page=1">&laquo;
                1</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
              </ul>
    {% endif %}


{% endblock %}